<a href="https://colab.research.google.com/github/sinishibu/IntroToDataScience/blob/master/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
l1=[10,20,30,40]
l2=[25,35,45,55]
df = pd.DataFrame(list(zip(l1, l1)),columns =['Marks1', 'Marks2'])
df

   Marks1  Marks2
0      10      10
1      20      20
2      30      30
3      40      40